<a href="https://colab.research.google.com/github/Dhyanpat12/Codegeeko-data-science-course/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget -O data.csv  https://raw.githubusercontent.com/shweteekta/Codegeeko-Data-Science-Course/main/SampleData.csv

--2022-07-23 17:25:35--  https://raw.githubusercontent.com/shweteekta/Codegeeko-Data-Science-Course/main/SampleData.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 92 [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]      92  --.-KB/s    in 0s

2022-07-23 17:25:35 (4.25 MB/s) - ‘data.csv’ saved [92/92]

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("data.csv")

In [ ]:
print(data)

      NAME  AGE  MARKS
0  Shweta    10    100
1    Dheer   11     89
2    Dhyan   10     89
3      Joy   10     89
4     Alex   15     98
5      Ray   12     56

In [ ]:
data.head()

      NAME  AGE  MARKS
0  Shweta    10    100
1    Dheer   11     89
2    Dhyan   10     89
3      Joy   10     89
4     Alex   15     98

In [ ]:
data.tail()

    NAME  AGE  MARKS
1  Dheer   11     89
2  Dhyan   10     89
3    Joy   10     89
4   Alex   15     98
5    Ray   12     56

In [ ]:
data.head()

      NAME  AGE  MARKS
0  Shweta    10    100
1    Dheer   11     89
2    Dhyan   10     89
3      Joy   10     89
4     Alex   15     98

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    6 non-null      object
 1   AGE     6 non-null      int64
 2   MARKS   6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

In [ ]:
data.shape

(6, 3)